.full-height {
  height: 100%;
  min-height: 100%;
}
.full-width {
  width: 100%;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.overflow-hidden {
  overflow: hidden;
}
.hand-cursor {
  cursor: pointer;
}
.white-text {
  color: white;
}
.black-text {
  color: #000000;
}
.default-font-size {
  font-size: 16px;
}
.default-line-height {
  line-height: 140%;
}
.white-background {
  background-color: white;
}
.whitesmoke-background {
  background-color: whitesmoke;
}
.inline-block {
  display: inline-block;
}
.no-outline {
  outline: none;
}
.left {
  float: left;
}
.right {
  float: right;
}
input[type='range'] {
  cursor: pointer;
}
.animate-appear .viewport.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 100%;
  position: absolute;
}
.animate-appear .viewport.ng-enter-active {
  margin-left: 0;
}
.animate-appear .viewport.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 0;
}
.animate-appear .viewport.ng-leave-active {
  margin-left: -100%;
}
.gallery ul {
  padding: 0;
}
.gallery li {
  display: inline-block;
  margin: 20px 0 0 20px;
  padding: 10px;
  border: solid 1px gray;
  cursor: pointer;
}
.stock-return .investment {
  width: 600px;
}
.stock-return .year {
  width: 70px !important;
}
.stock-return .money {
  width: 160px !important;
}
.default-font {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
}
.default-body-background-color {
  background-color: white;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: #d3d3d3;
}
::-webkit-scrollbar-thumb {
  background-color: #808080;
}
html {
  overflow: auto;
}
body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  color: #868c92;
  background-color: white;
  -webkit-print-color-adjust: exact;
}
h4 {
  margin: 0 0 10px 0;
}
.attention-text {
  font-weight: bold;
  color: orange;
}
.viewport.ng-enter {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 100%;
  position: absolute;
}
.viewport.ng-enter-active {
  margin-left: 0;
}
.viewport.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
  margin-left: 0;
}
.viewport.ng-leave-active {
  margin-left: -100%;
}
